# provide this for the github actions
# @alienfast:registry=https://npm.pkg.github.com
# @alienfast/i18next-loader:registry=https://registry.npmjs.org/
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}